{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109064262-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-109064262-1');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portfolio webpage">
	<meta name="author" content="Nathaniel Wihardjo">

	<link type="text/css" href="https://fonts.googleapis.com/css?family=Lobster|Montserrat|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
	<title>Software Engineer</title>

	<!-- CSS -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/animate.css" rel="stylesheet' %}">

	<!-- Custom styles CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">

    <script src="{% static 'js/modernizr.custom.js' %}"></script>

</head>
<body>

	<!-- Preloader -->

	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- Home start -->

	<section id="home" class="pfblock-image screen-height">
    <div class="home-overlay"></div>
		<div class="intro">
			<div class="start">Hello, my name is Nathaniel Wihardjo and I am a</div>
			<h1>Software Engineer</h1>
			<div class="start">trying to figure things out</div>
		</div>

		<a href="#services">
			<div class="scroll-down">
				<span>
					<i class="fa fa-angle-down fa-2x"></i>
				</span>
			</div>
		</a>
	</section>

	<!-- Home end -->

	<!-- Navigation start -->

	<header class="header">

		<nav class="navbar navbar-custom" role="navigation">

			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">NW</a>
				</div>

					<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="#home">Home</a></li>
						<li><a href="#services">About me</a></li>
						<li><a href="#portfolio">Projects</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a class="fa fa-linkedin" href="https://www.linkedin.com/in/wihardjo-nathaniel/" target="_blank"></a></li>
						<li><a class="fa fa-github" href="https://github.com/nwihardjo/" target="_blank"></a></li>
            					<li><a class="fa fa-envelope" href="mailto:wihardjo.nathaniel@gmail.com" ></a></li>
						<li><a class="fa" href="{% static 'files/Nathaniel_Wihardjo_CV.pdf' %}" target="_blank">CV</a></li>
					</ul>
					</div>
				</div>
			</div><!-- .container -->
		</nav>
	</header>

	<!-- Navigation end -->

  <!-- Services start -->

	<section id="services" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">ABOUT ME</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							<p>I enjoy building apps and learning new technology. Currently residing in London - I am currently learning on different stacks of framework particularly in the area of distributed framework, machine learning, and backend stuff. </p>
							<p>Here is the what I'm based on currently:</p>
							<!--<p>Programming is a true passion of mine and that passion continually grows with every meaningful tech-related conversation I have, with every moment of clarity as I finally figure out a nagging issue on a project, and with every new concept, language, or framework I delve into.</p>-->
						<iframe class="map" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJX4XfTlUDdkgRwISR0ciFEQo&key=AIzaSyCarw29wthNgU4O-vagJaG2Di025YatNKU" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="pfblock-header wow fadeInUp">
						<img id="myphoto" src="{% static 'images/me.png' %}" alt="Nathaniel Wihardjo" style="border-radius: 100%;filter:grayscale(30%);">
				</div>


		</div><!-- .container -->

		<div class="skills col-xs-12">
				<h2 class="pfblock-title">MY SKILLS</h2>
				<div class="pfblock-line"></div>

				<div class="row">
					<div  class="devicon-python-plain  col-xs-15"><span>PYTHON</span></div>
					<div  class="devicon-django-plain  col-xs-15"><span>DJANGO</span></div>
					<div  class="devicon-git-plain col-xs-15"><span>GIT</span></div>
					<div  class="devicon-cplusplus-plain col-xs-15"><span>C++</span></div>
					<div  class="devicon-go-plain col-xs-15"><span>GO</span></div>
				</div>
				<div class="row">
					<div  class="devicon-java-plain col-xs-15"><span>JAVA</span></div>
					<div  class="devicon-linux-plain col-xs-15"><span>LINUX</span></div>
					<div  class="devicon-vim-plain  col-xs-15"><span>VIM</span></div>
					<div  class="devicon-mysql-plain  col-xs-15"><span>SQL</span></div>
					<div  class="devicon-confluence-plain  col-xs-15"><span>CONFLUENCE</span></div>
				</div>
				<div class="row">
					<div  class="devicon-bootstrap-plain  col-xs-15"><span>BOOTSTRAP</span></div>
				</div>

			</div>
		</div>
	</section>

	<!-- Services end -->

	<!-- Portfolio start -->

	<section id="portfolio" class="pfblock">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">My works</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">

						</div>
					</div>
				</div>
			</div><!-- .row -->
			<div class="row">
				{% for project in projects %}
				<div class="col-md-4 col-sm-4 col-xs-12 d-flex align-items-stretch">
					<div class="card">
							<div class="grid wow zoomIn">
								<figure class="effect-bubba"><a href={{project.url}} target="_blank">
									<img class="card-img-top" src="{% static project.image %}"></a>
								</figure>

								<div class="card-block">
									<h2 class="card-title">{{project.title}}</h2>
									<h3 class="card-subtitle text-semiwhite">{{project.role}}</h3>
									<h4 class="card-subtitle text-semiwhite">
										{{project.start_date|date:'F'}} {{project.start_date.year}} - {{project.end_date|date:'F'}} {{project.end_date.year}}
									</h4>
									<p class="card-text">{{project.description}}</p>
									{% for tech in project.technology.all %}
									<div class="tools">
										<span>{{tech}}</span>
									</div>
									{% endfor %}
								</div>

							</div>
						</div>
					</div>
					{% endfor %}
				</div>
		</div><!-- .contaier -->

	</section>

	<!-- Portfolio end -->


	<!-- CallToAction start -->

	<section class="calltoaction">
		<div class="container-fluid">

			<div class="row">

				<div class="col-md-12 col-lg-12">
					<h2 class="wow slideInRight" data-wow-delay=".1s">ARE YOU READY TO START?</h2>
					<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
						I'm available for freelance contracts, so get in touch:
					</div>
				</div>

				<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
					<a href="#contact" class="btn btn-lg">Hire Me</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- CallToAction end -->


	<!-- Contact start -->

	<section id="contact" class="pfblock">
		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">

				<div class="pfblock-header">
					<h2 class="pfblock-title">Contact</h2>
					<div class="pfblock-line"></div>
					<div class="pfblock-subtitle">
						I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it. After you introduce yourself and your project, I'll get it touch with you to schedule a time to chat.
					</div>
				</div>

			</div>

		</div><!-- .row -->

		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">
				{% include 'contact_form.html' %}
			</div><!-- .row -->

		</div><!-- .container -->
	</section>

	<!-- Contact end -->

	<!-- Footer start -->

	<footer id="footer" class="calltoaction">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="calltoaction-footer wow"> <strong> © 2019 Nathaniel Wihardjo </strong></p>
					<p class="calltoaction-footer wow"> <strong> Theme by: <a href="https://github.com/VladislavMoroshan/Django-personal-website">Vladislav</a></strong></p>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</footer>

	<!-- Footer end -->


	<!-- Javascript files -->

	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
	<script src="{% static 'js/imagesloaded.pkgd.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
	<script src="{% static 'js/smoothscroll.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.cbpQTRotator.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
